a {
  text-decoration: none;
}

h1 {
  padding-bottom: 0;
  margin: 0;
}

form {
  display: flex;
  align-items: center;
}
input {
  flex: 1;
  margin-right: 8px;
}
button {
  white-space: nowrap;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: auto;
  min-width: 500px;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 650px;
  min-width: 500px;
  border-radius: 10px;
}

.city-name {
  font-weight: bold;
}

.temp-units {
  font-size: 16px;
  position: relative;
  top: -25px;
  padding: 0;
}

.details {
  display: block;
}
#city-image {
  padding: 0;
  margin-bottom: 25px;
}

.forecast {
  text-align: center;
}

.day {
  font-weight: bold;
  font-size: larger;
}

.min-temp {
  opacity: 0.6;
}

.display-date {
  font-size: 20px;
}

#display-temp {
  font-size: 50px;
}

.head-list {
  padding: 0;
}

.head {
  display: block;
}

#current-city-button {
  margin-top: 8px;
}

.temp-units .active {
  color: black;
  cursor: default;
  font-weight: bold;
}

.signature {
  font-family: "PT Mono", monospace;
  padding-left: 5px;
  margin: 20px auto;
}
